<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- Import connection factory application context -->
	<import
		resource="classpath:applicationContext-ConnectionFactory.xml" />

	<!-- Spring JMS Template -->
	<bean id="myJmsTemplate"
		class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsFactory" />
		<property name="pubSubDomain" value="false" />
	</bean>

	<!-- Message Consumers --> 
	<bean id="myMessageConsumer01"
		class="com.drighetto.essai.springactivemq.processor.MyMessageConsumer">
		<property name="messageConsumerName"
			value="myMessageConsumer01" />
	</bean>
	<bean id="myMessageConsumer02"
		class="com.drighetto.essai.springactivemq.processor.MyMessageConsumer">
		<property name="messageConsumerName"
			value="myMessageConsumer02" />
	</bean>	

	<!-- Message Producer -->
	<bean id="myMessageProducer"
		class="com.drighetto.essai.springactivemq.processor.MyMessageProducer">
		<property name="jmsTemplate" ref="myJmsTemplate" />
		<property name="destinationName" value="QUEUE.ONE" />
	</bean>

	<!-- Message listeners Containers -->
	<bean id="myMessageListenerContainer01"
		class="org.springframework.jms.listener.SimpleMessageListenerContainer">
		<property name="connectionFactory" ref="jmsFactory" />
		<property name="destinationName" value="QUEUE.ONE" />
		<property name="pubSubDomain" value="false" />
		<property name="messageListener" ref="myMessageConsumer01" />
	</bean>

</beans>