<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <!-- Define roles -->
    <security-role>
        <role-name>tomcat_role</role-name>
    </security-role>
    
    <!-- Define security constraint -->
    <security-constraint>
        <auth-constraint>
            <role-name>tomcat_role</role-name>            
        </auth-constraint>
        <web-resource-collection>
            <url-pattern>/secured/*</url-pattern>
        </web-resource-collection>        
    </security-constraint>
    
    <!-- Define authentication method -->
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    
</web-app>