/* 
Document   : style.css
Created on : 3 janv. 2009, 12:20:33
Author     : Dominique Righetto (dominique.righetto@gmail.com)
Description: Define style of UI
See        : http://forums.sun.com/thread.jspa?threadID=5357325&tstart=0
*/

/*Scene background*/
"javafx.scene.Scene"{
    fill: linear (0%, 0%) to (100%, 100%) stops (0.00, #e3e5e9), (0.06, #dfe2e6), (0.20, #FFC4B2), (0.70, #d6d9e9), (0.95, #d8dbe1), (1.00, #dadde3);
}

/*Label and TextField*/
"javafx.ext.swing.SwingLabel", "javafx.ext.swing.SwingTextField"{
    font:bold 9pt "verdana";
}

/*Special style for the information Label*/
#infoLabel{
    font:bold 12pt "comic sans ms";
}

