<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">



    <!--<bean id="helloWorldBacking" class="be.hikage.managed.HelloWorldBacking" scope="request">
           <aop:scoped-proxy/>
    </bean>-->

    <!--<aop:config>
               <aop:pointcut id="exceptionHandlerMB" expression="execution(* be.hikage.managed..* (..))"/>
                <aop:aspect ref="exceptionHandler">
                    <aop:around method="doBasicProfiling" pointcut-ref="exceptionHandlerMB" />
                </aop:aspect>


    </aop:config>-->
    <context:component-scan base-package="be.hikage.managed"/>
    <aop:aspectj-autoproxy/>


    <!--<bean id="test"  class="be.hikage.managed.HelloWorldBacking"/>
    <bean id="erreurMB"  class="be.hikage.managed.ErreurMB"/>-->






    <bean id="exceptionHandler" class="be.hikage.aop.ExceptionHandler">

    </bean>


</beans>